*{
    box-sizing: border-box;
    margin: 0;
    
  }

  body{
    background-image: url(https://arc-anglerfish-arc2-prod-spectator.s3.amazonaws.com/public/3IDMQEE54FBKPEUPDBKZIPPL4U.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .head {
    font-size: 3em;
    padding-top: 1em;
    color: white;
  }
  
  .inputDiv {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    width: 385px;
  }
  
  input{
    font-size: 35px;        
    color: black;
    background: lightgray;
    border-radius: 100px;
    box-shadow: 7px 7px 4px 3px rgba(30, 70, 247, 0.2); 
  }
  
  .buttonDiv {
    padding: 2em;
    display: flex;
    flex-direction: column;
  }
  
  button{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 90px;
    border: solid rgb(247, 241, 241) 2px;
    box-shadow:  6px 6px 3px 1px rgba(70, 109, 238, 0.2);
    font-size: 25px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-size:20px;
    padding:16px 31px;
  }
  
  #printDiv{
    width: 400px;
    height: 300px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-bottom: 6em;
  }

  h2 {
    color: white;
  }